@charset "UTF-8";

div#tv-radio {
	width: 600px;
	height: 472px;
	margin: auto;
	background: url("../_imagens/tv.jpg") no-repeat;
}
audio#musica {
	display: block;
	position: relative;
	left: 150px;
	top: 335px;
	width: 300px;
}
video#filme {
	display: block;
	position: relative;
	left: 41px;
	top: 8px;
	width: 520px;
}


